.App {
  text-align: center;
}
 
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.ref{
  text-align: start;
}
.add{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.card-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
}
.card{
  margin-bottom: 10px;
}

.social-media {
  gap:1rem;
  display: flex;
  justify-content: center;
}
a{
  text-decoration: none;
  color: antiquewhite;
}
img{
  height: 70vh;
  width: 50vw;
}